/* Medium devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {


	/************************************************** Nav ******************************************************/

	nav {
		background-color: rgba(51,51,51,0);
	}

	.nav > li {
		padding-bottom: 0px;
	}

	.navbar-fixed-top .navbar-collapse{
		background-color: rgba(51,51,51,0);

	}

	.navbar-nav>li>.dropdown-menu {
    	margin-top: 3px;
	}


	.dropdown:hover .dropdown-menu {
		margin-left: 0px;
	}

	/************************************************** Home ******************************************************/

	.hero-image h1 {
		font-size: 40px;
		padding-top: 30%;
	}

	.hero-image p {
		font-size: 20px;
		line-height: 40px;
	}


	.our-work .icon-wrapper {
		height:300px;
		width: 500px;
		margin-bottom: 30px;
		padding-top: 1%;
	}

	.what-we-offer .icon-wrapper {
		height: 150px;
		width: 150px;
		padding-top: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.what-we-offer .icon-small {
		display: none;
	}

	.what-people-say .icon-wrapper {
		height:300px;
		width: 500px;
		margin-bottom: 30px;
		padding-top: 1%;
	}

	/************************************************** footer ******************************************************/



	.col-3 h2, .col-3 p{
		text-align: right;
	}

	.col-1 {
		display: block;
	}

	.col-2 {
		padding-bottom: 0;
	}

	/************************************************** Banner ******************************************************/

	.banner h1 {
		font-size: 40px;
		padding-top: 18%;
	}

	.banner {
		height:55%;
	}

	.banner p {
		padding-bottom: 0px;
	}

	/************************************************** About ******************************************************/

	.about-wayworks .icon-wrapper {
		height: 125px;
		width: 125px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
		display:block;
	}

	.about-wayworks .icon-small {
		display: none;
	}

	.about-wayworks .button-wrapper {
		padding-top: 90px;
	}

	.headshot-wrapper {
		height: 200px;
		width: 200px;
	}

	/************************************************** Services ******************************************************/

	.services-info .icon-wrapper {
		height:125px;
		width: 125px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.services-info .icon-small {
		display: none;
	}


	/************************************************** Seconday nav ******************************************************/

	.secondary-nav {
		position: absolute;
		width: 100%;
		top:55%;
		background-color: rgba(51,51,51,0.6);
		color: #ffffff;
		height: 50px;
		box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.8);
		z-index: 200;
		display: block;
	}


	.secondary-nav .nav a {
		padding-bottom: 8px;
	}

	.secondary-nav .nav, .secondary-nav .nav a {
		padding-top: 10px;
		font-size: 12px;
	}

	.secondary-nav .nav li {
		padding-left: 25px;
		padding-right: 25px;
	}

	.secondary-nav ul {
		padding-left: 140px;
	}

}
